appdirs==1.4.4
appnope==0.1.0; sys_platform == "darwin"
ariadne==0.11.0
astroid==2.4.2
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
backcall==0.2.0
black==19.10b0
click==7.1.2
colorama==0.4.3; sys_platform == "win32"
decorator==4.4.2
graphql-core==3.0.5
h11==0.9.0
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
mypy==0.782
mypy-extensions==0.4.3
packaging==20.4
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0; sys_platform != "win32"
py==1.9.0
pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
regex==2020.6.8
six==1.15.0
starlette==0.13.4
toml==0.10.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
uvicorn==0.11.5
uvloop==0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
wcwidth==0.2.5
websockets==8.1
wrapt==1.12.1
